<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <form action="/result" method="post">
        <label for="LicencePlate">Search for licenceplate:</label><br />
        <input type="text"  id="Title" name="LicencePlate" />
        <a href="http://localhost:52483/">Police cars only</a>
        <a href="http://localhost:52483/">Diplomats only</a><br/>
        <button type="submit">Search</button>
        </form>
</body>
</html>